html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
}

body{
	 font-family: 'Raleway', sans-serif;
	 background: rgb(0, 0, 0);
}


header{
	display:inline-block;
	background: #323232;
	position: fixed;
	width: 100%;
	padding: 15px;
	z-index: 2;
	
}

#menu_on{
	display: block;
	width:30px;
	height: 20px;
	position: relative;
	z-index: 2;
}

#menu_on span{
	width: 100%;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: #fff;
	transition: all 0.25s ease;
	transform-origin : 0px 100%;
}

#menu_on span:nth-child(2){
	top: calc(50% - 2px);
}

#menu_on span:nth-child(3){
bottom: 0;
}	
	.visible_menu span:nth-child(1){
		transform: rotate(45deg) translate(-2px,1px); 
	}

	.visible_menu span:nth-child(2){
		opacity: 0;
	}


	.visible_menu span:nth-child(3){
		transform: rotate(-45deg) translate(-3px,3px); 
	}

nav{
	
	position: fixed;
	top: 0;
	bottom: 0;
	left:-300px;
	width: 300px;
	z-index: 1;
	padding: 90px 30px 30px;
	background: #4C4B4B;
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}

.visible_menu{
	position: inline-block;
}

.visible_menu nav{
	left: 0;
	opacity: 1;
}

nav a{
	display:inline-block;
	text-decoration: none;
	padding: 10px;
	color: rgba(255,255,255,0.75);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	transition: all ease 0.25s;
}

nav a:hover{
	color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}

#content{
	padding:250px 8%;
	
	text-align: left;
	height: 100vh;
	position: relative;
	display: table;
	width: 100%;
	transition: all 0.75s ease;

}


.visible_menu #content{
transform: translateX(260px);
}

.logo{
	margin-bottom: 0px;
	text-align:center;
}

.logo img{
  display: block;
  width: 90%;
  height: auto;
}


#mensaje{
    display: flex;
    float: right;
    width: 10%;
}

#subtitulo{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: rgb(0, 0, 0);}
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 20px;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
h2{
    color: aliceblue;
}
@media screen and (min-width:601px) {
    .container{
        border-radius: 5px;
        background-color: rgb(37, 149, 241);
        padding: 10px;
        margin: 100px;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 50vh;
        color: aliceblue;
    }
	}